p{
    line-height: 30px;
    color:red ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1{
    text-decoration: underline;
    text-decoration-style: double;
    color: olive ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
    

}
h3{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif

}
a[href*="wikipedia.org"] {
color:rgb(14, 48, 14);
text-decoration: none;
}
    
button{
    background-color: white;
    color: blueviolet;

}
textarea{
    
    color: black;
}
span{
    text-decoration: underline;
    color: rgb(87, 52, 59);
}