.face{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#eye1{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    display: inline-block;

}
#eye2{
        background-color: black;
        width: 30px;
        height: 30px;
       border-radius: 50%;
       position: absolute;
       display: inline-block;
       top: 50px;
       left:150px;

}
#mouth{
    
}